{% extends 'dummy.html'%}


{% block title %}
<title>reset_password</title>
{% endblock %}

{% block body_block %}
<center>
    <h1>Reset Password</h1>
    <form action="" method="POST">
        {% csrf_token %}
        
        <label for="username">Username</label>
        <input type="text" name="username" id="username"><br><br>
        <label for="password">password</label>
        <input type="text" name="password" id="password"><br><br>
        <input type="submit" value="reset_password" >
    </form>
</center>
{% endblock %}